[submodule "vendor/spdlog"]
	path =  GMCore/vendor/spdlog
	url = https://github.com/gabime/spdlog
	
[submodule "GMCore/vendor/GLFW"]
    path = GMCore/vendor/GLFW
    url = https://github.com/TheCherno/glfw

[submodule "GMCore/vendor/glm"]
    path = GMCore/vendor/glm
    url = https://github.com/g-truc/glm

[submodule "GMCore/vendor/ImGui"]
    path = GMCore/vendor/ImGui
    url = https://github.com/ocornut/imgui.git

