[submodule "Strand/vendor/GLFW"]
	path = Strand/vendor/GLFW
	url = https://github.com/TheCherno/glfw
	branch = master
[submodule "Strand/vendor/ImGui"]
	path = Strand/vendor/ImGui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Strand/vendor/glm"]
	path = Strand/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Strand/vendor/spdlog"]
	path = Strand/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Strand/vendor/yaml-cpp"]
	path = Strand/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "Strand/vendor/ImGuizmo"]
	path = Strand/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git

[submodule "Strand/vendor/Box2D"]
	path = Strand/vendor/Box2D
	url = https://github.com/AyubGM/box2d
