C:\dev\Strand\Bridges\SandboxProject\Sandbox.sproj
C:\dev\Strand\Bridges\SProject\SProject.sproj
C:\dev\Strand\Bridges\DProject\DProject.sproj
C:\dev\Strand\Bridges\SHProject\SHProject.sproj
C:\dev\Strand\Bridges\SSSProject\SSSProject.sproj
C:\dev\Strand\Bridges\SSProject\SSProject.sproj
C:\dev\Strand\Bridges\WProject\WProject.sproj
C:\dev\Strand\Bridges\NewProject\NewProject.sproj
C:\dev\Strand\Bridges\CProject\CProject
C:\dev\Strand\Bridges\SandboxProject\BProject\BProject
