using Strand;
using System;

namespace {{NAMESPACE}}
{
    public class Startup : Entity
    {
        public static void Init()
        {
            Console.WriteLine("Hello from Startup script!");
        }

        public void OnCreate()
        {
            Console.WriteLine("Hello from Startup script!");
        }
    }
}
